// ------------------ DASHBOARD ------------------ \\

.gridster {
	width: auto;
    perspective: 800;
	li {
		header {
			width: 100%;
			height: 40px;
			cursor: move;
		}
		border-radius: 3px;
		transition: all 0.3s $animationEasing;
		@extend .level2;
		&:active { @extend .level4; }
		.md-more-horiz:before {
			right: 10px;
			bottom: 0px;
			font-size: 2em;
			position: absolute;
			color: darken($colorGrayKeyline, 10);
			padding: 10px;
			cursor: pointer;
		}
	}
	.card.flipped { 
		transform: rotateY(-180deg) translateY(-20px) ;
		@extend .level6; 
	}
	.card {	
		-webkit-transform-style: preserve-3d; 
	}
	.card .face {
		padding: 0 30px;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		-webkit-backface-visibility: hidden ;
	}
	.card .front {
		z-index: 1;
		background: white;
	}
	.card .back {
		-webkit-transform: rotateY(-180deg);
		background: white;
	}
}





