// ------------------ DASHBOARD ------------------ \\

aside {
	h1 {
		background: url(../img/background_logo_sidebar.jpg);
		height: 144px;
		text-align: center;
		padding: 18px 0;
		margin-bottom: 40px;
		img {
			width: 100px;
			height: auto;
			display: inline-block;
		}
	}
	nav {
		a {
			color: $colorText;
			font-family: $fontDefault;
			font-weight: 400;
			font-size: 1.1em;
			padding: 10px;
		}
		ul { 
			padding: 0 25px; 
			li { margin-bottom: 25px; }
			li:before {
				margin-right: 15px;
				color: $colorText;
				font-size: 1.6em;
			}
		}		
	}
	top: -50px;
	position: fixed;
	height: 120%;
	width: $sidebarWidth;
	padding-top: 50px;
	background: white;
	@extend .level4; 
}

#content { padding: 144px 100px 0 350px; }

.gridster {
	width: auto;
	li {
		header {
			width: 100%;
			height: 40px;
			cursor: move;
		}
		border-radius: 3px;
		transition: all 0.3s $animationEasing;
		@extend .level2;
		&:active { @extend .level4; }
		.md-more-horiz:before {
			right: 10px;
			bottom: 0px;
			font-size: 2em;
			position: absolute;
			color: darken($colorGrayKeyline, 10);
			padding: 10px;
			cursor: pointer;
		}
	}
	.card.flipped { 
		transform: rotateY(-180deg) translateY(-20px) scale(1.2);
		@extend .level6; 
	}
	.card {	
		-webkit-transform-style: preserve-3d; 
	}
	.card .face {
		padding: 0 30px;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		-webkit-backface-visibility: hidden ;
	}
	.card .front {
		z-index: 1;
		background: white;
		color: white;
	}
	.card .back {
		-webkit-transform: rotateY(-180deg);
		background: white;
		color: black;
	}
}





