// Mixin Keyframe

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

// ----- ANIMATIONS ----- //

.jAnim-fading {
  opacity: 0;
  margin-top: -40px;
}

.jAnim-fading-show {
  opacity: 1;
  margin-top: 0px;
}

.jAnim-flip-show {
  -moz-transform: translateY(0px) rotateX(0deg) !important;
  -webkit-transform: translateY(0px) rotateX(0deg) !important;
  -o-transform: translateY(0px) rotateX(0deg) !important;
  -ms-transform: translateY(0px) rotateX(0deg) !important;
  transform: translateY(0px) rotateX(0deg) !important;
   opacity: 1 !important;
}