// ------------------ GRID ------------------ \\

.level1 { box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12); }
.level2 { box-shadow: 0 3px 6px rgba(0,0,0,0.07), 0 3px 6px rgba(0,0,0,0.11); }
.level3 { box-shadow: 0 10px 20px rgba(0,0,0,0.11), 0 6px 6px rgba(0,0,0,0.11); }
.level4 { box-shadow: 0 14px 28px rgba(0,0,0,0.13), 0 10px 10px rgba(0,0,0,0.10); }
.level5 { box-shadow: 0 19px 38px rgba(0,0,0,0.15), 0 15px 12px rgba(0,0,0,0.10); }   


.container {
	margin: 0 auto;
	width: 90%;
}

.left {float:left;}
.right {float:right;}

.column {
  float: left;
}

.full 		 		{ @extend .column; width: 100%; }
.two-thirds 		{ @extend .column; width: 66.7%; }
.half 				{ @extend .column; width: 50%; }
.third 			{ @extend .column; width: 33.3%; }
.fourth 			{ @extend .column; width: 25%; }
.flow-opposite 	{ @extend .column; float: right; }  
