// ------------------ GRID ------------------ \\

.level1 { box-shadow: 0 1px  3px  rgba(0,0,0,0.06), 0 1px  2px  rgba(0,0,0,0.08); }
.level2 { box-shadow: 0 3px  6px  rgba(0,0,0,0.07), 0 3px  6px  rgba(0,0,0,0.08); }
.level3 { box-shadow: 0 7px  9px  rgba(0,0,0,0.09), 0 6px  9px  rgba(0,0,0,0.08); }
.level4 { box-shadow: 0 12px 12px rgba(0,0,0,0.09), 0 9px  12px rgba(0,0,0,0.08); }
.level5 { box-shadow: 0 15px 16px rgba(0,0,0,0.09), 0 12px 15px rgba(0,0,0,0.08); }   
.level6 { box-shadow: 0 18px 19px rgba(0,0,0,0.09), 0 14px 25px rgba(0,0,0,0.08); }   	


.container {
	margin: 0 auto;
	width: 90%;
}

.left {float:left;}
.right {float:right;}

.column {
  float: left;
}

.full 		 		{ @extend .column; width: 100%; }
.two-thirds 		{ @extend .column; width: 66.7%; }
.half 				{ @extend .column; width: 50%; }
.third 			{ @extend .column; width: 33.3%; }
.fourth 			{ @extend .column; width: 25%; }
.flow-opposite 	{ @extend .column; float: right; }  
