// ------------------ RESPONSIVE ------------------ \\

$regular: 1366px;
$large: 1600px;
$huge: 1920px;

@media (max-width: 320px) {

}

@media (max-width: 360px) {

}

@media (max-width: 640px) {

}

@media (max-width: 768px) {

}

@media (max-width: 800px) {

}

@media (max-width: 980px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1920px) {

}
