// ------------------ TYPOGRAPHY ------------------ \\

// Placeholder Selectors For Fonts Weight & Style

strong { 
	@extend %bold;
	@extend %uppercase;
}

%impact {
	@extend %black;
	@extend %uppercase;
}

%italic {font-style: italic;}
%uppercase {text-transform: uppercase;}

$thin : 100;
$light : 300;
$regular : 400;
$medium : 500;
$bold : 700;
$black : 900;

